%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[{node_alive,
  [{node_type, test},
   {node_id, 100},
   {callback_mod, node_alive_child}
  ]},
 {eredis_pool,
  [{global_or_local, local},
   {pools,
    [{redis_pool,
      [{size, 100},
       {max_overflow, 10}],
      [{host, "127.0.0.1"},
       {port, 6379},
       {database, 0},
       {password, ""}
      ]}
    ]}
  ]}
].

